#panel1a-header img, #panel2a-header img{
    width: 2rem;
    float: right;
    margin-top: .3rem;
}

#panel1a-header, #panel2a-header{
    background-color: rgba(59, 50, 163, 0.938);
    color: white;
    margin-left: 0 !important;
    margin-top: 1rem;
}

#panel1a-header p::before, #panel2a-header p::before{
    content: '+';
    margin-right: 1rem;
}

.acordeon p{
    margin-left: 1rem;;
}