#beneficiario {
    font-size: 1rem;
    color: white;
    margin-top: 2rem;
    font-weight: 700;
}

#scrollbenef {
    height: 70%;
    overflow-y: auto;
    padding-left: 2rem;
}
#scrollbenef::-webkit-scrollbar {
    width: 5px; 
}

#scrollbenef::-webkit-scrollbar-thumb {
    background-color: #008d97; 
    border-radius: 6px;
}

#scrollbenef::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}




@media (min-width: 1200px) {
    .modal6 input {
        width: 150%;
    }

    .modal6 {
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .continuar6 {
        margin-left: 2.5rem;
    }

    .continuar6 button {
        background: none;
        border: none;
    }
}

@media (max-width: 768px) {
    .continuar6 button {
        background: none;
        border: none;
    }

    .modal6 {
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .continuar6 {
        margin-left: 0;
    }

    #scrollbenef {

        padding-left: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1100px) {
    .continuar6 button {
        background: none;
        border: none;
    }

    .modal6 {
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .continuar6 {
        margin-left: 2.5rem;
    }
}
