.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    max-width: 100%;
}

.slide {
    background-color: rgb(12, 109, 154);
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
    border-radius: 1rem;
}

.slide h1{
    font-size: 2rem;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    background-color: rgb(2, 91, 132);
    border-radius: 1rem;
    padding: 10px 20px 10px 20px;
}

#higher{
    height: 450px;
}



.slide p{
    height: fit-content;
    font-family: 'Monserrat', sans-serif;
    font-size: 1.3rem;
    width: 15rem;
}

.content2{
    margin-bottom: 4rem;

}
.content2 h1{
    width: fit-content;
    margin-left: 3rem;
}

.content4{
    margin-bottom: 2.5rem;
}

.content4 h1{
    width: fit-content;
    margin-left: 3rem;
}
