.footer {
    background-image: url('../assets/wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
}

.logo img {
    width: 30rem;
}

.icons img {
    width: 3rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.icons img:hover {
    cursor: pointer;
}


.logo {
    margin-bottom: 10rem;
    margin-left: 10rem;
    margin-right: 15rem;
    margin-top: 5rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parent {
    margin-top: 17rem;
    max-width: fit-content;
    display: flex;
}

.div1,
.div2 {
    font-family: 'Lato', sans-serif;
    margin-right: 7rem;
    color: white;
}

.div3 {
    font-family: 'Lato', sans-serif;
    color: white;
}

.footer h2 {
    font-size: 2.5rem;
    font-weight: 700;
    transition: .3s ease;
}

.footer h3 {
    font-size: 1.8rem;
    transition: .3s ease;
}

.footer h3:hover {
    color: orange;
    cursor: pointer;
}

@media (max-width: 767px) {
    .parent {
        display: flex;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .parent h2 {
        font-size: 2rem;
    }

    .parent h3 {
        font-size: 1.5rem;
    }

    .logo {
        margin-top: 0rem;
        margin-right: 0;
        margin-left: 7vw;
        margin-bottom: 5rem;
        width: 20rem;
    }

    .footer {
        flex-direction: column;
    }

    .div1,
    .div2 {
        margin-left: 1rem;
        margin-right: 2rem;
        margin-bottom: 3rem;
    }
    .icons img {
        width: 2rem;
    }
}

@media (width: 430px) {
    .logo {
        margin-left: 11vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .parent {
        display: flex;
        margin-top: 0;
        margin-left: 4rem;
    }

    .parent h2 {
        font-size: 3rem;
    }

    .div1,
    .div2 {
        text-align: center;
        margin-left: 3.5rem;
    }

    .parent h3 {
        font-size: 1.5rem;
    }

    .logo {
        margin-top: 10rem;
        margin-bottom: 3rem;
        margin-left: 17vw;
        margin-right: 0;
    }



    .footer {
        flex-direction: column;
    }
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .parent {
        display: flex;
        margin-top: 0;
        margin-left: 22%;
    }

    .parent h2 {
        font-size: 4rem;
    }

    .div1,
    .div2 {
        text-align: center;
    }

    .parent h3 {
        font-size: 3rem;
    }

    .logo {
        margin-top: 0;
        margin-bottom: 7rem;
        margin-left: 25vw;
        margin-right: 0;
    }


    .footer {
        flex-direction: column;
    }
}



@media only screen and (min-width: 1200px) and (max-width: 1700px) {
    .logo {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .div2 {
        margin-right: 5rem;
    }

    .parent {
        margin-top: 7rem;
        margin-left: 10rem;
    }
}