a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(1, 102, 120);
}

.header img {
    width: 18rem;
    margin-top: 3rem;
    margin-left: 13rem;
}

.links {
    display: flex;
    align-items: center;
    margin-left: 11rem;
    margin-top: 2rem;
}

.links h2:hover {
    cursor: pointer;
    color: #f09c1e;
}

.links h2 {
    margin-left: 2rem;
    transition: .3s ease;
}

#session {
    margin-left: 10rem;
    border: .125rem;
    border-radius: .6rem;
    padding: .2rem .5rem .2rem .5rem;
    border-style: groove;
    border-color: #4A9DEC;
    transition: .3s ease;
}

#session:hover {
    cursor: pointer;
    color: #4A9DEC;
}


#iconbar {
    display: none;
    margin-top: 2rem;
    width: 3.5rem;
}

#iconbar:hover {
    cursor: pointer;
}

.desplegar{
    display: none;
}

@media (max-width: 768px) {
    #iconbar {
        display: block;
        margin: 0;
        margin-top: 1.5rem;
        margin-left: 2rem;
        margin-right: 1rem;
        order: -1;
    }


    .hamburguesa {
        width: max-content;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        text-align: center;
        justify-content: center;
        margin-left: 5vw;
    }

    .hamburguesa h2 {
        width: max-content;
        font-size: 1.3rem;
        margin-bottom: 18px;
    }

    #session {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .links {
        display: none;
    }

    .header {
        background-color: white;
        flex-direction: column;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 4;
        margin-bottom: 1rem;
    }

    .imagenlogo img {
        margin: 0;
        width: 16rem;
        margin-left: 1rem;
        margin-top: 1.5rem;
    }

    .chan{
        display: flex;
        flex-direction: row;
    }

    #session {
        margin-left: 0;
    }

    .desplegar{
        display: block;
    }
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
    #iconbar {
        display: block;
        margin: 0;
        margin-top: 6rem;
        margin-bottom: 4rem;
        width: 4.5rem;
        margin-left: 10rem;
    }

    .hamburguesa {
        width: max-content;
        display: flex;
        flex-direction: column;
        margin-left: 18rem;
    }

    .hamburguesa h2 {
        width: max-content;
        font-size: 2rem;
    }

    .links {
        display: none;
    }

    .header {
        flex-direction: column;
        margin-left: .5rem;
    }

    .imagenlogo img {
        margin: 0;
        width: 20rem;
        margin-left: 3rem;
        margin-top: 5rem;
    }

    .header {
        width: max-content;
    }

    #session {
        margin-left: 0;
    }

    .header{
        width: 100%;
    }
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #iconbar {
        display: block;
        margin: 0;
        margin-top: 7rem;
        margin-bottom: 4rem;
        width: 8rem;
        margin-left: 30rem;
    }

    .hamburguesa {
        width: max-content;
        display: flex;
        flex-direction: column;
        margin-left: 8rem;
        transition: max-height 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    #session {
        margin-left: 0;
    }

    .hamburguesa h2 {
        width: max-content;
        font-size: 4rem;
    }

    .links {
        display: none;
    }

    .header {
        flex-direction: column;
    }

    .imagenlogo img {
        margin: 0;
        width: 45rem;
        margin-left: 11rem;
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
    .imagenlogo img{
        margin-left: 1rem;
    }
    .imagenlogo{
        width: max-content;
    }
    .links{
        margin-left: 1rem;
    }

    .links h2{
        font-size: 1.5rem;
    }

    #session{
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1700px) {
    .imagenlogo img {
        width: 25rem;
        margin-left: 1rem;
    }

    .links {
        margin-left: 2rem;
    }

    #session {
        margin-left: 2rem;
        font-size: 1.5rem;
    }
}