a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(1, 102, 120);
}

.header img {
    width: 25rem;
    margin-top: 3rem;
    margin-left: 5rem;
}

.links {
    display: flex;
    align-items: center;
    margin-left: 11rem;
    margin-top: 2rem;
}

.links h2:hover {
    cursor: pointer;
    color: #f09c1e;
}

.links h2 {
    margin-left: 2rem;
    transition: .3s ease;
}

#session {
    margin-left: 10rem;
    border: .125rem;
    border-radius: .6rem;
    padding: .2rem .5rem .2rem .5rem;
    border-style: groove;
    border-color: #4A9DEC;
    transition: .3s ease;
}

#session:hover {
    cursor: pointer;
    color: #4A9DEC;
}


#iconbar {
    display: none;
    margin-top: 2rem;
    width: 3.5rem;
}

#iconbar:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    #iconbar {
        display: block;
        margin: 0;
        margin-top: 2rem;
        margin-bottom: 4rem;
        margin-left: 11rem
    }


    .hamburguesa {
        width: max-content;
        display: flex;
        flex-direction: column;
        margin-left: 4rem;
        transition: max-height 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    .hamburguesa h2 {
        width: max-content;
    }

    #session {
        margin-left: 0;
        margin-bottom: 7rem;
    }

    .links {
        display: none;
    }

    .header {
        flex-direction: column;
        max-width: max-content;
    }

    .imagenlogo img {
        margin: 0;
        width: 20rem;
        margin-left: 2.5rem;
        margin-top: 3rem;
    }

    #session{
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #iconbar {
        display: block;
        margin: 0;
        margin-top: 7rem;
        margin-bottom: 4rem;
        width: 6rem;
        margin-left: 24rem;
    }

    .hamburguesa {
        width: max-content;
        display: flex;
        flex-direction: column;
        margin-left: 6rem;
        transition: max-height 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    .hamburguesa h2 {
        width: max-content;
        font-size: 3rem;
    }

    .links {
        display: none;
    }

    .header {
        flex-direction: column;
    }

    .imagenlogo img {
        margin: 0;
        width: 35rem;
        margin-left: 9rem;
        margin-top: 3rem;
    }
    .header{
        width: max-content;
    }
    #session{
        margin-left: 0;
    }
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #iconbar {
        display: block;
        margin: 0;
        margin-top: 7rem;
        margin-bottom: 4rem;
        width: 8rem;
        margin-left: 30rem;
    }
    .hamburguesa {
        width: max-content;
        display: flex;
        flex-direction: column;
        margin-left: 8rem;
        transition: max-height 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    #session{
        margin-left: 0;
    }

    .hamburguesa h2 {
        width: max-content;
        font-size: 4rem;
    }

    .links {
        display: none;
    }

    .header {
        flex-direction: column;
    }

    .imagenlogo img {
        margin: 0;
        width: 45rem;
        margin-left: 11rem;
        margin-top: 3rem;
    }
}



@media only screen and (min-width: 1200px) and (max-width: 1700px) {
    .imagenlogo img {
        width: 25rem;
    }

    .links {
        margin-left: 2rem;
    }

    #session {
        margin-left: 2rem;
        font-size: 1.5rem;
    }
}