.logincontainer {
    font-family: 'Lato';
    box-sizing: border-box;
    flex-direction: column;
}

.containergeneral {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15vh;
}

.formlogin form {
    display: flex;
    flex-direction: column;
}


.logincontainer h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
}

.logincontainer p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: rgb(112, 112, 112);
}

.formlogin {
    margin-top: 2rem;
}

.formlogin input {
    font-size: 1.2rem;
    outline: none;
    padding: 0.7rem 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: solid 1px rgb(232, 232, 232);
    background-color: rgba(243, 247, 253, 0.597);
    color: rgb(112, 112, 112);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.formlogin input::placeholder {
    color: rgb(185, 185, 185);
}

.formlogin form input[type="checkbox"] {
    width: fit-content;
    margin-right: 0.4rem;
    margin-bottom: 0;
}

.formlogin label {
    color: rgb(130, 130, 130);
}


.formlogin button {
    border: none;
    background-color: rgb(66, 66, 252);
    color: white;
    font-size: 1rem;
    padding: 0.8rem 0;
    border-radius: 0.4rem;
    margin-top: 2rem;
    cursor: pointer;
}

.afiliar {
    margin-top: 1rem;
    background-color: rgb(71, 71, 253);
    width: fit-content;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    font-weight: 700;
    margin-bottom: 5rem;
}

.tokens button {
    font-size: 1rem;
    border: 2px solid rgb(233, 237, 251);
    border-radius: 0.5rem;
    padding: 0.7rem 3rem;
    background: none;
    margin-right: 1rem;
    font-weight: 500;
}

.errorLogin {
    text-align: center;
    margin-top: 1rem;
    background-color: orange;
    border-radius: 0.5rem;
    color: white;
    font-weight: 700;
}



#slogan {
    font-weight: 900;
    font-size: 1.3rem;
    color: rgb(8, 0, 255);
    margin-bottom: 3rem;
}

#forgot {
    margin-top: 2rem;
    color: blue;
    font-weight: 500;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    margin-left: 45%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media(max-width: 768px){
    .logincontainer{
        max-width: 70%;
    }
    .logincontainer h1{
        font-size: 2.5rem;
    }
    #slogan{
        margin-bottom: 1rem;
    }
}