img {
    max-width: 100%;
}

.calcularMembresia {
    margin-top: 5rem;
    background-image: url('../assets/Membresia.png');
    background-repeat: round;
    height: 55rem;
    border-radius: 1rem;
    padding-left: 11rem;
    padding-top: 12rem;
}

.tipoplanes {
    margin-right: 0rem;
}

.precio {
    margin-top: 10rem;
    padding-right: 50rem;
}

#calculah1 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    color: rgb(0, 80, 117);
    margin: 0;
}

.tipoplanes h2 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: rgb(0, 80, 117);

}

.tipoplanes p {
    font-family: 'Monserrat', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 80, 117);
    width: 35rem;
    margin: 0;
    padding-left: 2rem;
}

.calcularMembresia {
    display: flex;
}

.precio h1 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    font-style: italic;
    color: rgb(0, 80, 117);
    width: max-content;
    margin: 0;
}

.precio h2 {
    margin: 0;
    font-family: 'Monserrat', sans-serif;
    width: 5rem;
    font-weight: 900;
    font-size: 2.4rem;
    font-style: italic;
    color: rgb(0, 80, 117);
}

.precio p {
    font-family: 'Monserrat', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    font-style: italic;
    color: rgb(0, 80, 117);
    width: 18rem;
}

.adquirir h1 {
    width: max-content;
    padding-left: 8rem;
    padding-right: 5rem;
    font-style: italic;
    border-top-right-radius: 2rem;
    color: white;
    font-family: 'Monserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    background: linear-gradient(to right, rgb(130, 94, 246), rgb(60, 50, 163));
}

.adquirir h2 {
    color: rgb(0, 80, 117);
    font-family: 'Monserrat', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.plan h2 {
    font-weight: 900;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

.plan p {
    font-family: 'Lato', sans-serif;
    color: rgb(0, 80, 117);
    font-size: 1.3rem;
    width: 80rem;
}

.tipos {
    margin-left: 10rem;
}

#tiposd {
    margin-left: 2rem;
}

.adquirir {
    max-width: max-content;
    position: relative;
    bottom: 14rem;
}

.escoge {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    background-color: rgb(207, 207, 207);
    width: 50rem;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 1rem;
    position: relative;
    left: 40rem;
    top: 4rem;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 767px) {
    .escoge {
        display: none;
    }

    .calcularMembresia {
        background: none;
        background-color: rgb(235, 235, 235);
    }

    .adquirir {
        position: static;
    }

    .calcularMembresia {
        flex-direction: column;
        height: auto;
        padding: 0;
        padding-left: 1rem;
    }

    #calculah1 {
        font-size: 3rem;
    }

    .calcularMembresia p {
        width: 20rem;
    }

    .precio {
        margin: 0;
        padding: 0;
        margin-top: 5rem;
    }

    .precio p {
        font-size: 1.5rem;
    }

    .tipos {
        margin: 0;
        margin-left: 1rem;
    }

    .tipos p,
    .tipos h2 {
        max-width: 20rem;
    }

    .adquirir h1 {
        margin-top: 2rem;
        font-size: 2rem;
        width: 20rem;
        margin: 0;
        padding: 0;
        padding-left: 4rem;
    }

    .adquirir {
        margin-top: 5rem;
    }

    #tiposd {
        display: none;
    }

    .tipoplanes {
        padding-top: 5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .escoge {
        display: none;
    }

    .calcularMembresia {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .adquirir {
        position: static;
    }

    .calcularMembresia {
        flex-direction: column;
        height: auto;
        padding: 0;
        padding-left: 1rem;
    }

    #calculah1 {
        font-size: 3rem;
    }

    .calcularMembresia p {
        width: 20rem;
    }
    .tipoplanes p{
        padding-right: 15rem;
    }

    .precio {
        margin: 0;
        padding: 0;
        width: max-content;
        margin-top: 5rem;
        margin-left: 9rem;
        background-color: rgb(0, 80, 117);
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        border-radius: 1rem;
    }

    .precio p {
        font-size: 1.5rem;
        color: white;
        font-weight: 300;
    }
    .precio h2, .precio h1{
        color: white;
    }

    .tipos {
        margin: 0;
        margin-left: 4rem;
        margin-top: 5rem;
    }

    .tipos p,
    .tipos h2 {
        max-width: 40rem;
    }

    .adquirir h1 {
        margin-top: 2rem;
        font-size: 4rem;
        width: 40rem;
        margin: 0;
        padding: 0;
        padding-left: 4rem;
    }

    .adquirir {
        margin-top: 5rem;
    }

    #tiposd {
        display: none;
    }

    .tipoplanes {
        padding-top: 5rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .escoge {
        display: none;
    }

    .calcularMembresia {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .adquirir {
        position: static;
    }

    .calcularMembresia {
        flex-direction: column;
        height: auto;
        padding: 0;
        padding-left: 1rem;
    }

    #calculah1 {
        font-size: 3rem;
    }

    .calcularMembresia p {
        width: 20rem;
    }
    .tipoplanes p{
        padding-right: 15rem;
    }

    .precio {
        margin: 0;
        padding: 0;
        width: max-content;
        margin-top: 5rem;
        margin-left: 9rem;
        background-color: rgb(0, 80, 117);
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        border-radius: 1rem;
    }

    .precio p {
        font-size: 1.5rem;
        color: white;
        font-weight: 300;
    }
    .precio h2, .precio h1{
        color: white;
    }

    .tipos {
        margin: 0;
        margin-left: 4rem;
        margin-top: 5rem;
    }

    .tipos p,
    .tipos h2 {
        max-width: 40rem;
    }

    .adquirir h1 {
        margin-top: 2rem;
        font-size: 4rem;
        width: 50rem;
        margin: 0;
        padding: 0;
        padding-left: 4rem;
    }

    .adquirir {
        margin-top: 5rem;
    }

    #tiposd {
        display: none;
    }

    .tipoplanes {
        padding-top: 5rem;
    }
  }

  @media only screen and (min-width: 1200px) and (max-width: 1700px) {
    .tipos{
        margin-left: 5rem;
    }
    .precio{
        margin: 0;
        padding: 0;
        height: max-content;
        background-color: rgb(0, 80, 117);
        border-radius: 1rem;
        padding-top: 3rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 3rem;
        margin-top: 10rem;
    }
    .precio h2, .precio p, .precio h1{
        color: white;
    }
    .escoge{
        left: 20rem;
    }
    .calcularMembresia{
        background-position: center;
        background-repeat: no-repeat;
    }
    .plan p{
        max-width: 70rem;
    }
  }
