#continuar {
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    width: fit-content;
    padding: 0 2rem 0 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    margin-left: 2.5rem;
    cursor: pointer;
    color: white;
    margin-top: 2rem;
    text-transform: capitalize;
}

#scroll-inpt {
    overflow-x: scroll;
}

.labelbuttons {
    display: flex;
}

.labelbuttons button {
    background-color: rgb(0, 117, 156);
    border: 1px solid;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.5rem;
}


#scrolleable3 {
    width: 30%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal3 {
    font-family: 'Lato', sans-serif;
}

.modal3 h2 {
    font-size: 2rem;
    font-weight: 700;
}

.montos2 {
    display: flex;
}

.montos2 p {
    width: 70%;
    margin-bottom: 0;
    font-size: 1rem;
    margin-left: .5rem;
}

.montos2 h1 {
    background-color: rgb(98, 98, 98);
    width: fit-content;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    font-weight: 700;
    width: 80%;
}

.modal3 input {
    width: 100%;
    padding: .5rem 0 .5rem 0;
    border-radius: .5rem;
    font-size: 1.3rem;
    padding-left: 1rem;
}

.continue {
    display: flex;
    justify-content: center;
    align-items: center;
}

.continuar4 button {
    background: none;
    border: none;
}

.check1 {
    width: 80%;
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 2rem;

}

#check1 {
    color: white;
    font-size: 1.3rem;
    width: 100%;
    cursor: pointer;
}

.errors {
    background-color: orangered;
    border-radius: 1rem;
    padding: .2rem;
    margin-top: 2rem;
}

.errors h2 {
    font-size: 1rem;
    text-align: center;
}

#x1 {
    font-size: 2rem;
    width: min-content;
    cursor: pointer;
}

@media(max-width: 767px) {


    .check1 {
        margin-left: 0;
        width: 90%;
        text-align: center;
    }

    #check1 {
        margin-left: 0;
        width: 100%;
    }

    .css-1llu0g7 {
        width: 300px !important;
    }

    .caja3 h1 {
        font-size: 1.4rem;
        width: fit-content;
    }

    .caja3 p {
        width: 10rem;
    }

    #scrolleable3 {
        padding-left: 1.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .css-1llu0g7 {
        top: 35%;
    }

    #scrolleable3 {
        width: 70%;
    }


}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {

    #scrolleable3 {
        height: 80%;
        overflow-y: auto;
        width: 50%;
    }



}