.t p,
.t h3,
.modal5 h1 {
    margin: 0;
    font-family: 'Lato', sans-serif
}

.errortransfer{
    font-family: 'Lato';
    font-size: 1.2rem;
    background-color: orange;
    padding: 0rem 1rem;
    border-radius: 1rem;
    font-weight: 700;
}

.t p{
    width: fit-content;
}

.modal5 h1{
    font-weight: 900;
    color: #e5e5e5;
}

.t {
    display: flex;
    margin-bottom: .5rem;
    align-items: center;
}

.t h3 {
    margin-left: 5px;
    font-weight: 900;
}

.modal5 h1 {
    margin-bottom: 1rem;
}

.modal5 label {
    font-family: 'Lato', sans-serif;
    margin-top: 2rem;
}

#transferir1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    border-radius: 1rem;
    cursor: pointer;
}

.t h3 {
    overflow: auto;


    &::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(3, 180, 211);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(2, 80, 116);
    }
}

#modal55 {
    height: 45rem;
    overflow-y: auto;
}

#modal55::-webkit-scrollbar {
    width: 5px;
}

#modal55::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 5px;
}

#modal55::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#modal55::-webkit-scrollbar-button {
    display: none;
}


.sec1,
.sec2,
.sec3,
.sec4 {
    background-color: rgb(95, 95, 95);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.cont21 h2{
    font-family: 'Lato', sans-serif;
    font-weight:900;
    font-size:2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    color: white;
}

.cont21{
    background-color: rgb(129, 129, 129);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}


@media (max-width: 767px) {

    .t{
        flex-direction: column;
        align-items: normal;
    }

    #scrolleableTransfer {
        width: 100%;
        overflow-y: auto;
    }

    .modal5 h1 {
        font-size: 2rem;
        border-radius: 1rem;
    }

    .t h3 {
        font-size: 1.5rem;
        width: max-content;
        margin-top: .2rem;
        margin-left: 0rem;
    }

    .t p, .t h3 {
        width: max-content;
        font-size: 1.3rem;
        width: 100%;
    }

    .t {
        margin-bottom: 1rem;
    }

    #transferir1 {
        font-size: 1.4rem;
        padding: 1rem;
    }


}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .css-1llu0g7 {
        top: 35% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    #modal55 {
        height: 35rem;
        overflow-y: auto;
    }

}