#continuar {
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    width: fit-content;
    padding: 0rem 2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    margin-left: 2.5rem;
    cursor: pointer;
    color: white;
    margin-top: 1rem;
    text-transform: capitalize;
}

#scroll-inpt {
    overflow-x: scroll;
}

.labelbuttons {
    display: flex;
    gap: 0.5rem;
}

.labelbuttons button {
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.labelbuttons button:active,
.labelbuttons button:focus {
    transform: scale(0.95);
    background-color: rgb(123, 123, 123);
}

#scrolleable3 {
    width: 30%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal3 {
    font-family: 'Lato', sans-serif;
}

.modal3 h2 {
    font-size: 2rem;
    font-weight: 700;
}

.montos2 {
    display: flex;
}

.montos2 p {
    width: 70%;
    margin-bottom: 0;
    font-size: 1rem;
    margin-left: .5rem;
}

.montos2 h1 {
    background-color: rgb(98, 98, 98);
    width: fit-content;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    font-weight: 700;
    width: 80%;
}

.modal3 input {
    width: 100%;
    padding: .5rem 0 .5rem 0;
    border-radius: .5rem;
    font-size: 1.3rem;
    padding-left: 1rem;
}

.continue {
    display: flex;
    justify-content: center;
    align-items: center;
}

.continuar4 button {
    background: none;
    border: none;
}

.check1 {
    width: 80%;
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 2rem;

}

#check1 {
    color: white;
    font-size: 1.3rem;
    width: 100%;
    cursor: pointer;
}

.errors {
    background-color: orangered;
    border-radius: 1rem;
    padding: .2rem;
    margin-top: 2rem;
}

.errors h2 {
    font-size: 1rem;
    text-align: center;
}

#x1 {
    font-size: 2rem;
    width: min-content;
    cursor: pointer;
}

@media(max-width: 767px) {


    .check1 {
        margin-left: 0;
        width: 90%;
        text-align: center;
    }

    #check1 {
        margin-left: 0;
        width: 100%;
    }

    .css-1llu0g7 {
        width: 80% !important;
        height: 80% !important;
    }

    .caja3 h1 {
        font-size: 1.4rem;
        width: fit-content;
    }

    .caja3 p {
        width: 10rem;
    }

    #scrolleable3 {
        padding-left: 1.5rem;
    }
    
    .modal3 h3{
        font-size: 1rem;
    }
    .modal3 p{
        margin-bottom: 5px;
    }
    .modal3 h2{
        margin-top: 0;
        margin-bottom: 0rem;
    }
    .errors{
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .css-1llu0g7 {
        top: 35%;
    }

    #scrolleable3 {
        width: 70%;
    }


}

@media only screen and (min-width: 1200px) and (max-width: 1700px) {

    #scrolleable3 {
        overflow-y: auto;
        width: 30%;
    }

    #scroll-inpt{
        height: 1rem;
    }

    #scroll-inpt::placeholder{
        font-size: 1.2rem;
    }

    .montos2 h1 {   
        font-size: 1.5rem;
    }

    .labelbuttons button {
        font-size: 1rem;
        background-color: gainsboro;
        border: none;
        border-radius: 0.5rem;
    }

    .modal3 h2{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.9rem;
    }

    #x1{
        margin-top: 0;
        position: absolute;
        margin: 0 !important;
        right: 1rem;
        top: 1rem;
        background-color: rgb(82, 82, 82);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    .join{
        display: flex;
        gap: 2rem;
        margin-bottom: 1rem;
    }



}