.caja4 {
    width: 50%;
    flex: 1;
}

.errorbenef {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 5rem;
    background-color: rgb(252, 107, 107);
    padding: 1rem;
    border-radius: 1rem;
}

.caja4 p {
    font-size: 1rem;
    margin-bottom: .8rem;
    padding: 0;
    margin: 10px;
}

.caja4 input {
    font-size: 1.1rem !important;
    border-radius: .5rem;
    width: 17rem !important;
    padding: 0.5rem 0;
    padding-left: 1rem;
}


#scrolleable4 {
    overflow-y: auto;
    overflow-x: hidden;
}

#scrolleable4::-webkit-scrollbar {
    width: 5px;
}

#scrolleable4::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 5px;
}

#scrolleable4::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#scrolleable4::-webkit-scrollbar-button {
    display: none;
}


.continuar5 button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.check2 {
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    width: 100%;
    margin-left: 3.5rem;
    margin-top: 2rem;
    cursor: pointer;
}

.modal4 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato';
    justify-content: center;
    align-items: center;
}

#beneficiario {
    background-color: rgb(2, 80, 116);
    padding-left: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem !important;
}

#db {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
}

.continuar5 {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}



#x {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    padding: 0 1rem;
    border-radius: 1rem;
    gap: 2rem;
}


.box label {
    display: flex;
    align-items: center;
}

.listaBeneficiarios {
    flex-direction: column;
}


.box h5 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
    background-color: rgb(0, 149, 149);
    padding: 0 1rem;
    border-radius: 1rem;
}

.secbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cruz {
    background-color: rgb(119, 119, 119);
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: .5s ease;
}

#cruz:hover {
    background-color: rgb(255, 68, 0);

}

.box {
    background-color: rgb(79, 79, 79);
    margin-bottom: 1rem;
}

.hide {
    width: 100%;
    display: flex;
    justify-content: center;
}

#continuar {
    margin-left: 0;
}

#btn-editar {
    font-size: 1rem;
    background-color: #005f9e;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.optns {
    display: flex;
    flex-direction: column;
    height: auto;
}

.secbox h5 {
    margin: 0;
}

#scrollbenef4 {
    overflow-y: scroll;
    height: 80%;
    scrollbar-width: thin;
    scrollbar-color: #333 #f0f0f0;
}

#scrollbenef4::-webkit-scrollbar {
    width: 5px;
}

#scrollbenef4::-webkit-scrollbar-thumb {
    background-color: #005f9e;
}

#scrollbenef4::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}


@media (max-width : 767px) {

    .optns {
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }


    #btn-editar {
        margin-left: 0;
        font-size: 1.4rem;
    }


    #scrolleable4 {
        padding-left: 2rem;
        overflow-y: scroll;
    }

    .caja4 {
        flex: 0;
        width: 100%;
    }

    .modal4 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .caja4 input {
        width: 100%;
    }

    #beneficiario {
        padding: 1rem;
        margin-bottom: 0;
    }

    .continuar5 {
        margin-left: 0;
    }

    .box {
        display: flex;
        flex-direction: column;
    }

    #cruz {
        margin: 0;
        height: 50%;
    }


}

@media (min-width: 768px) and (max-width: 990px) {
    #scrolleable4 {
        padding-left: 1rem;
    }

    #x {
        font-size: 2rem;
    }

    .caja4 {
        flex: 0;
        width: 100%;
    }

    .modal4 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .caja4 input {
        width: 100%;
    }

    #beneficiario {
        padding: 1rem;
        margin-bottom: 0;
    }





}

@media (min-width: 991px) and (max-width: 1199px) {
    #scrolleable4 {
        padding-left: 1rem;
    }

    #x {
        font-size: 2rem;
    }

    .caja4 {
        flex: 0;
        width: 100%;
    }

    .modal4 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .caja4 input {
        width: 100%;
    }

    #beneficiario {
        padding: 1rem;
        margin-bottom: 0;
    }

}

@media (min-width: 1200px) and (max-width: 1599px) {
    .caja4 input {
        font-size: 1.3rem;
        border-radius: .5rem;
        width: 15rem;
        padding: .5rem 0 .5rem 0;
        padding-left: 1rem;
    }

    #scrolleable4 {
        width: 40%;
    }

    .continuar5 {
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }

    #beneficiario {
        font-size: 1rem !important;
        padding: 1rem;
    }

    .errorbenef h2 {
        font-size: 1.2rem;
    }

    .caja4 input {
        font-size: 1.1rem !important;
        border-radius: .5rem;
        width: 20rem;
        padding: 0.5rem;
        padding-left: 1rem;
    }



}

@media (min-width: 1600px) and (max-width: 1800px) {
    .caja4 input {
        font-size: 1.3rem;
        border-radius: .5rem;
        width: 15rem;
        padding: .5rem 0 .5rem 0;
        padding-left: 1rem;
    }

    #scrolleable4 {
        width: 40%;
    }

    .continuar5 {
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
}