img{
    max-width: 100%;
}

.welcome {
    background-image: url('../assets/fondoazul.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 60rem;
    position: relative;
    top: 10rem;
    z-index: 1;
    border-radius: 1rem;
}

.imagenmid {
    display: none;
}

.divpage1 {
    position: relative;
    z-index: 1;
    height: 77rem;

}

.imgfamilia2 {
    border: .5rem;
    border-radius: 1rem;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 400px 65px 0px  rgba(254, 254, 254, 0.75);
    margin-bottom: 20rem;
}

.transforma{
    position: relative;
    bottom: 40rem;
    font-size: 2rem;
    left: 30rem;
    background-color: blueviolet;
    width: 50rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    text-align: center;
}



.imgfamilia {
    position: absolute;
    z-index: 1;
    left: 64rem;
    top: 13rem;
}

.textfamilia2 {
    position: relative;
    left: 90rem;
    bottom: 50rem;
    width: max-content;

}

.textfamilia2 p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    color: rgb(0, 185, 185);
}

.textfamilia2 h1 {
    background-color: blueviolet;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    border-radius: .5rem;
    width: max-content;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
}

.textfamilia2:hover {
    cursor: pointer;
}

.textp1 {
    font-family: 'Lato', sans-serif;
    color: white;
    margin-left: 10rem;
    padding-top: 8rem;
    width: 80rem;
}

.textp1 h2 {
    font-size: 6rem;
    margin: 0;
}



.textp1 h1 {
    margin: 0;
    font-size: 6rem;
    font-weight: 700;
}

#big {
    font-family: 'Montserrat', sans-serif;
    margin-top: 4rem;
    margin-left: 2rem;
    width: 50rem;
    font-size: 2rem;
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .textp1 {
        width: min-content;
    }

    .imgfamilia2 img {
        display: none;
    }

    .imgfamilia img {
        display: none;
    }

    .welcome {
        height: 80rem;
    }

    .textfamilia2 {
        display: none;
    }

}


@media (min-width: 1200px) and (max-width: 1700px) {
    .textp1 h2 {
        font-size: 2.6rem;
        width: max-content;
    }

    .textp1 h1 {
        font-size: 5rem;
        width: max-content;
    }

    .textp1 {
        margin-left: 3rem;
        width: max-content;
    }

    #big {
        font-size: 1.3rem;
        width: 35rem;
    }

    .imgfamilia {
        left: 40rem;
    }

    .imgfamilia img {
        width: 40rem;
    }

    .imgfamilia2 img {
        width: 70rem;
    }

    .textfamilia2 {
        left: 66rem;
        bottom: 20rem;
    }

    .welcome {
        height: 45rem;
    }

}

@media(min-width: 1360px) and (max-width: 1500px) {
    .textfamilia2 {
        left: 60rem;
        bottom: 20rem;
    }
}

@media(min-width: 300px) and (max-width: 900px) {
    .textp1 {
        margin-left: 3rem;
        padding-top: 2rem;
        width: max-content;
    }

    .textp1 h2 {
        text-align: center;
        font-size: 2rem;
        width: 20rem;
    }

    .textp1 h1 {
        text-align: center;
        width: 20rem;
        padding-top: 0;
        font-size: 3rem;
    }

    #big {
        width: 20rem;
        margin-left: .5rem;
        margin-top: 2rem;
        font-size: 1.5rem;
        margin-bottom: 6rem;
    }

    .imgfamilia {
        display: none;
    }

    .imagenmid img {
        width: 25rem;
    }

    .imagenmid {
        display: block;
        margin-left: 0rem;
    }

    .imgfamilia2 img {
        width: 14rem;
        height: 10rem;
        position: absolute;
        bottom: 5rem;
    }

    .imgfamilia2 {
        display: none;
        border: none;
        border-radius: 0%;
        box-shadow: none;
    }

    .welcome {
        height: 120rem;
        position: static;
        background-position: initial;
    }

    .textfamilia2 {
        position: static;
        margin-left: 4rem;
        width: max-content;

    }

    .textfamilia2 p {
        font-size: 2rem;
        color: white;
    }

    .textfamilia2 h1 {
        font-size: 1.5rem;
    }

    .divpage1 {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 1200px) and (max-width: 1400px) {
    .textfamilia2 {
        left: 55rem;
        bottom: 40rem;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .textp1 {
        margin-left: 5rem;
    }

    .textp1 h2 {
        font-size: 3rem;
        text-align: justify;

        width: max-content;
    }

    .textp1 h1 {
        width: 30rem;
        font-size: 5rem;
        text-align: justify;

    }

    #big {
        margin-top: 5rem;
        width: 40rem;
        font-size: 2rem;
    }

    .textfamilia2 {
        margin-left: 15rem;
    }
}

@media (min-width: 1500px) and (max-width: 1700px) {
    .logo {
        margin-left: 10rem;
    }

    .parent {
        margin-left: 8rem;
    }
    .textfamilia2{
        bottom: 40rem;
    }
}

@media (min-width: 750px) and (max-width: 900px){
    .imagenmid img{
        margin-left: 11rem;
        width: 30rem;
    }
    .textfamilia2{
        margin-left: 17rem;
    }
    .footer{
        position: relative;
        top: 10rem;
    }
}

@media only screen and (max-width: 991px) {
    .transforma{
        display: none;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1700px) {
    .transforma{
        left: 15rem;
    }
  }

  @media(max-width: 768px){
    .textp1 h2{
        display: none;
    }
    .textfamilia2 {
        background-color: blueviolet;
        border-radius: 1rem;
        padding: 1rem;
        margin-left: 2rem;
    }
    .textfamilia2 h1{
        background-color: rgb(168, 102, 206);
    }
  }
  

