.grid-payment {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    font-family: 'lato';
}

#x1 {
    font-family: 'lato';
    font-size: 2rem;
}

.grid-payment h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.grid-payment h2 {
    margin-bottom: 1rem;
    color: rgb(106, 106, 106);
    margin: 0;
    font-size: 1.3rem;
}

.mobilelabel {
    display: none;
}

#modal-modal-title {
    margin-bottom: 2rem;
    width: fit-content;
    font-weight: 700;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    color: rgb(151, 150, 150);
}

#modalpagos {
    max-height: 60%;
    top: 20%;
}

.boxpay {
    max-height: 100%;
    overflow: auto;
}

@media (max-width: 768px) {
    #modalpagos {
        min-height: 100%;
        position: absolute;
    }

    .mobilelabel {
        display: block;
        margin-bottom: 1rem;
    }

    .grid-payment {
        display: none;
    }

    .mobilelabel label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 2.5rem;
        font-family: 'lato';
    }

    .boxpay {
        width: 80% !important;
    }

    .mobilelabel h2 {
        font-size: 1.1rem;
        margin-bottom: 0px;
    }

    .mobilelabel h3 {
        font-weight: 700;
        margin-bottom: 5px;
    }

    .labelspayment {
        background-color: rgb(232, 232, 232);
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
    }

    .pagination button {
        border-radius: 0.5rem;
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
        border: solid 1px rgb(232, 232, 232);
        background-color: rgba(255, 255, 255, 0.597);
        color: rgb(112, 112, 112);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;
    }


}