/* Formulario 2 */

.formulario2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(145, 145, 145);
    border-radius: 1rem;
}

.cajaform {
    width: 100%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario2 img {
    width: 50rem;
}

.formulario2 p,
.formulario2 h2 {
    width: fit-content;
}

.formulario2 p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.formulario2 h5{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(15, 98, 0);
    padding: 1rem 0;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.formulario2 h2 {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    background-color: rgb(85, 85, 85);
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 700;
    color: white;
    overflow: hidden;
}

.formulario2 h4 {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgb(1, 80, 123);
    width: 80%;
    padding: 2rem 0;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    border: 2px solid white;
}

/* .formulario2 label{
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgb(85, 85, 85);
    width: 75%;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
} */

#titleForm2{
    grid-column: span 3;
    font-size: 3rem;
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgb(57, 57, 57);
}

.cajaformIMG{
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#retiro{
    font-size: 1.3rem;
    font-family: 'Lato';
    color: white;
}


@media(max-width: 768px){
    .formulario2{
        display: flex;
        flex-direction: column;
    }

    .cajaform{
        padding-left: 1rem;
    }
    .formulario2 img{
        width: 18rem;
    }
    .formulario2 h4{
        padding: 1rem 0;
        width: 90%;
    }
}

@media (min-width: 1200px) and (max-width: 1600px){
    .cajaform{
        padding-left: 1rem;
    }
}


/* Fin */
.cl-toggle-switch {
    position: relative;
    background-color: #004f4f;
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
   }
   
   .cl-switch {
    position: relative;
    display: inline-block;
   }
   /* Input */
   .cl-switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
   }
   /* Track */
   .cl-switch > span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgb(0, 0, 0, 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
   }
   /* Thumb */
   .cl-switch > span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
   }
   /* Checked */
   .cl-switch > input:checked {
    right: -10px;
    background-color: #85b8b7;
   }
   
   .cl-switch > input:checked + span::before {
    background-color: #85b8b7;
   }
   
   .cl-switch > input:checked + span::after {
    background-color: #018786;
    transform: translateX(16px);
   }
   /* Hover, Focus */
   .cl-switch:hover > input {
    opacity: 0.04;
   }
   
   .cl-switch > input:focus {
    opacity: 0.12;
   }
   
   .cl-switch:hover > input:focus {
    opacity: 0.16;
   }
   /* Active */
   .cl-switch > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
   }
   
   .cl-switch > input:active + span::before {
    background-color: #8f8f8f;
   }
   
   .cl-switch > input:checked:active + span::before {
    background-color: #85b8b7;
   }
   /* Disabled */
   .cl-switch > input:disabled {
    opacity: 0;
   }
   
   .cl-switch > input:disabled + span::before {
    background-color: #ddd;
   }
   
   .cl-switch > input:checked:disabled + span::before {
    background-color: #bfdbda;
   }
   
   .cl-switch > input:checked:disabled + span::after {
    background-color: #61b5b4;
   }

.profilecontainer {
    margin-top: 3rem;
    border-radius: 1rem;
    display: flex;
    width: 100%;
}

.formprofile2 {
    width: 50%;
}

.alert1 {
    background-color: rgb(52, 52, 52);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    width: 100rem;
    padding: 0 2rem;
    border-radius: 1rem;
}

.accor {
    margin-top: 2rem;
}

#panel1a-header {
    font-size: 2rem;
    border-radius: 1rem;
    margin-left: 2rem;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    box-shadow: none !important;
}

.css-15v22id-MuiAccordionDetails-root {
    padding: 1rem 0rem !important;
}


.alert1 h5 {
    padding: 1rem 0;
}

.leyenda {
    background-color: rgb(52, 52, 52);
    width: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    position: relative;
    font-size: 2rem;
    bottom: 45rem;
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.profilecontainer h1 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 5rem;
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 2rem;
    margin-top: 0;
    width: fit-content
}

.formprofile1 {
    margin-left: 10rem;
    width: 30rem;
    margin-right: 10rem;
}

.formprofile2 h1 {
    margin-top: 0;
}

#btn-adicional {
    color: white;
    border-radius: 1rem;
    width: 80%;
    margin-top: 0rem;
    margin-bottom: 5rem;
}


.alerta {
    max-width: 70%;
    font-size: 1.3rem;
    background-color: rgb(242, 124, 124);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-family: 'Lato', sans-serif;
    margin-top: 2rem;
}

.form1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(52, 52, 52);
    border-radius: 3rem;
    margin-bottom: 10rem;
    font-family: 'Lato', sans-serif;
    height: fit-content;
    padding-top: 2rem;
    width: 30rem;
}

.form1 p {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.form1 h2 {
    color: rgb(2, 80, 116);
    background-color: rgb(103, 103, 103);
    border-radius: 1rem;
    color: white;
    font-weight: 700;
    width: 23rem;
    margin-left: 3rem;
    margin-top: 0;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#datos {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    background: none;
    width: max-content;
    color: white;
    margin-left: 1.5rem;
    padding-top: 2rem;
}

.form2 {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    background-color: rgb(52, 52, 52);
    border-radius: 3rem;
    padding: 1rem;
    width: 95%;
}

.caja {
    height: fit-content;
    flex: 1;
    color: white;
}




.form2 h2 {
    height: fit-content;
    font-family: 'Lato', sans-serif;
    margin-right: .5rem;
    width: max-content;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    color: rgb(2, 80, 116);
    font-weight: 900;
    margin-top: 1rem;
}

#cuotas {
    width: 75%;
}

#maduracion {
    width: 10rem;
}

#cajafecha {
    width: 50%;
}

#quinquenio {
    font-size: 1.5rem;
    margin-left: 1rem;
    background-color: rgb(115, 115, 115);
    height: fit-content;
    border-radius: 1rem;
    padding-left: 1rem;
    font-family: 'Lato', sans-serif;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
}

#descargar {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    border-radius: 1rem;
    padding: 0rem 1rem;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 1rem;
}

#estadocuota {
    margin-top: 0rem;
    margin-left: 1rem;
}

#datosmem {
    font-size: 2rem;
    background: none;
    color: white;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    margin: 2rem 0rem 2rem 4.5rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    width: 80%;
    text-align: center;
}

#bonificacionh1 {
    font-size: 2rem;
    background: none;
    color: white;
    font-style: normal;
    font-weight: 700;
    margin: 2rem 0rem 2rem 1.5rem;
    background: linear-gradient(to right, rgb(3, 180, 211), rgb(2, 80, 116));
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}



.containerfechas {
    display: flex;
    flex-wrap: wrap;
}

.containerfechas .caja {
    margin-right: 2rem;
    flex: 1;
}


.containerfechas .caja h2 {
    width: 90%;
    background-color: rgb(107, 107, 107);
    color: white;
}

.form2 p {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    width: max-content;
    padding-left: .5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.noMember {
    background-color: rgb(52, 52, 52);
    border-radius: 1rem;
    padding: 2rem;
}

.noMember h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    width: 30rem;
    margin-left: 6rem;

}

.form2b {
    background-color: rgb(52, 52, 52);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    font-family: 'Lato', sans-serif;
}

.form2b h1 {
    background: none;
    color: white;
    font-size: 2rem;
    font-style: normal;
    text-align: center;
    width: 100%;
}

.form2b .caja {
    flex: 1;
    width: 100%;
    margin-right: 2rem;
}

.form2b .caja p {
    font-size: 1.2rem;
    width: max-content;
    margin-bottom: .6rem;
}

.form2b .caja h2 {
    font-size: 1.6rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(95, 95, 95);
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}



.form2b h2 {
    width: 90%;
}

.form2b #pending {
    font-size: 2rem;
    width: 100%;
    margin-right: 3rem;
    background-color: gainsboro;
    color: rgb(95, 95, 95);
    padding: 1rem;
    font-weight: 900;
    border-radius: 1rem;
    text-align: center;
    margin-top: 2.7rem;
}

#quinqueniob {
    font-size: 1.7rem;
    width: 100%;
    background-color: gainsboro;
    color: rgb(95, 95, 95);
    padding: 1rem;
    font-weight: 900;
    margin-top: 2.8rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

#wallet {
    width: 100%;
    margin-left: 0rem;
}

#bonificacionh1b {
    background-color: gainsboro;
    color: rgb(95, 95, 95);
    border-radius: 1rem;
    padding: .5rem 0 .5rem 0;
    font-weight: 900;
    font-style: italic;
    margin-left: 0;
}

.containerfechasb {
    display: flex;
    flex-wrap: wrap;
}

.containerfechasb .caja h2 {
    width: 90%;
}

#paddi {
    margin-bottom: 4rem;
}


#full h2 {
    background: white;
    margin-left: 2rem;
    color: rgb(112, 112, 112);
}

.icono {
    font-size: 2rem;
    color: rgb(16, 189, 224);
    position: relative;
    left: 10rem;
    bottom: 4.1rem;
    cursor: pointer;
    width: fit-content;
}

#full p {
    margin-left: 2rem;
}

.texxt {
    color: white;
    margin-left: 3rem;
    margin-bottom: 2rem;
    width: 100%;
}

.texxt p {
    max-width: 85%;
}

.form1 h2 {
    overflow: auto;


    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(3, 180, 211);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(2, 80, 116);
    }
}





@media only screen and (max-width: 767px) {

    .alert1 {
        width: 80%;
    }

    .leyenda {
        bottom: 80rem;
    }

    .form2b {
        background-color: rgb(52, 52, 52);
        padding: 1rem;
        border-radius: 1rem;
        margin-left: .5rem;
        display: flex;
        flex-wrap: wrap;
        max-width: 83%;
        font-family: 'Lato', sans-serif;
    }

    .form2b h1 {
        background: none;
        color: white;
        font-size: 2rem;
        font-style: normal;
        text-align: center;
        width: 100%;
    }

    .form2b #datosmemb {
        font-size: 2.5rem;
        margin-left: 0;
    }

    .form2b .caja {
        flex: 1;
        width: 100%;
        margin-right: 2rem;
    }

    .form2b .caja p {
        font-size: 1.2rem;
        width: max-content;
        margin-bottom: .6rem;
    }

    .form2b .caja h2 {
        font-size: 1.6rem;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        border-radius: 1rem;
        color: rgb(95, 95, 95);
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form2b h2 {
        width: 100%;
    }

    .form2b #pending {
        font-size: 1.5rem;
        width: max-content;
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        padding: 1rem;
        font-weight: 900;
        border-radius: 1rem;
        text-align: center;
        margin-top: 1.5rem;
    }

    #quinqueniob {
        font-size: 1.7rem;
        width: max-content;
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        padding: 1rem;
        font-weight: 900;
        margin-top: 0rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    #wallet {
        width: 90%;
        margin-left: 0rem;
    }

    #bonificacionh1b {
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        border-radius: 1rem;
        padding: .5rem 0 .5rem 0;
        font-weight: 900;
        font-style: italic;
        margin-left: 0;
        font-size: 1.5rem;
    }

    .containerfechasb {
        display: flex;
        flex-wrap: wrap;
    }

    .containerfechasb .caja h2 {
        width: 90%;
    }

    #paddi {
        margin-bottom: 0rem;
    }


    #nomemberh1 {
        font-size: 1.7rem;
        margin-left: 0rem;
        padding: 1rem;
        width: 18rem;
    }

    .noMember h2 {
        font-size: 1.4rem;
        width: 20rem;
        margin-left: 1rem;
    }

    .noMember {
        width: 82%;
    }

    .profilecontainer {
        flex-direction: column;
    }

    .formprofile1 {
        margin: 0;
        margin-left: 1.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formprofile2 {
        max-width: max-content;
        margin-left: 1rem;
    }

    .formprofile1 h1 {
        font-size: 5rem;
        width: 20rem;
    }

    .formprofile2 h1 {
        font-size: 3.5rem;
        width: max-content;
    }

    #deletemem {
        display: none;
    }

    .form1 h2,
    .form1 p,
    .form2 h2,
    .form2 p {
        width: 19rem;
        padding-left: 1rem;
        margin-left: 0rem;
        overflow: auto;

    }

    .form1 h2,
    .form1 p {
        margin-left: 1rem;
    }

    .form1 h2 {
        font-size: 1.2rem;
    }

    .form1,
    .form2 {
        width: 22rem;
    }



    #datos {
        margin-left: 1rem;
        width: min-content;
    }

    .form2 {
        padding-bottom: 5rem;
    }

    .form1 {
        margin-bottom: 2rem;
    }

    .caja h2 {
        width: 85%;
    }

    #datosmem {
        margin-left: 0rem;
        width: 80%;
    }

    .caja p {
        margin-left: 0;
    }

    .form2 {
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 0;
        width: 90%;
    }

    .containerperfil2 {
        width: 100%;
    }

    #descargar {
        font-size: 2rem;
        padding: 1rem;
    }

    #cuotas {
        width: 85%;
    }

    #quinquenio {
        font-size: 1.5rem;
        padding: 1rem;
        margin-left: 0.2rem;
        width: 87%;
        background-color: white;
        color: rgb(2, 80, 116);
        font-weight: 700;

    }

    #bonificacionh1 {
        width: 80%;
        margin-left: 0rem;
        font-size: 2.5rem;

    }

    #madruacion {
        width: 85%;
    }

    .containerfechas {
        display: flex;
        flex-direction: column;
    }


    .containerfechas .caja {
        width: 100%;
    }

    .containerfechas .caja h2 {
        width: 70%;
        margin-left: 1rem;
        background: white;
        color: rgb(2, 80, 116);
    }

    #estadocuota {
        margin-left: 0;
        margin-top: 2rem;
    }

    #full {
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }

    .texxt {
        font-size: 1rem;
        margin-left: 0;
    }

    .texxt p {
        max-width: 15rem;
        margin-left: 1rem;
    }

    #perfilh11 {
        color: rgb(153, 153, 153);
        font-style: normal;
        font-weight: 900;
        margin-left: 1.5rem;
    }

    .alerta {
        margin-left: 2rem;
    }

    .formprofile1 {
        margin-left: 0;
    }

    .formprofile2 {
        width: 85%;
    }

    #cajafecha {
        width: 100%;
    }

    #botonadquirirmodal {
        margin-top: 2rem;
    }

}

@media (width: 430px) {
    .formprofile1 {
        margin-left: 1rem;
        width: 90%;
    }

    .alert1 {
        width: 85%;
    }
}



@media only screen and (min-width: 768px) and (max-width: 991px) {

    .texxt p {
        max-width: 30rem;
    }

    .texxt {
        margin-left: 5rem;
    }

    #full h2 {
        width: 70%;
    }

    .form2b {
        background-color: rgb(52, 52, 52);
        padding: 1rem;
        border-radius: 1rem;
        margin-left: .5rem;
        display: flex;
        flex-wrap: wrap;
        max-width: 83%;
        font-family: 'Lato', sans-serif;
    }

    .form2b h1 {
        background: none;
        color: white;
        font-size: 2rem;
        font-style: normal;
        text-align: center;
        width: 100%;
    }

    .form2b #datosmemb {
        font-size: 2.5rem;
        margin-left: 0;
    }

    .form2b .caja {
        flex: 1;
        width: 100%;
        margin-right: 2rem;
    }

    .form2b .caja p {
        font-size: 1.2rem;
        width: max-content;
        margin-bottom: .6rem;
    }

    .form2b .caja h2 {
        font-size: 1.6rem;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        border-radius: 1rem;
        color: rgb(95, 95, 95);
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form2b h2 {
        width: 100%;
    }

    .form2b #pending {
        font-size: 1.5rem;
        width: max-content;
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        padding: 1rem;
        font-weight: 900;
        border-radius: 1rem;
        text-align: center;
        margin-top: 3.2rem;
    }

    #quinqueniob {
        font-size: 1.7rem;
        width: max-content;
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        padding: .5rem;
        margin-left: 2rem;
        font-weight: 900;
        margin-top: 2rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    #wallet {
        width: 80%;
        overflow-y: auto;
        margin-left: 0rem;
    }

    #bonificacionh1b {
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        border-radius: 1rem;
        padding: .5rem 0 .5rem 0;
        height: fit-content;
        width: 100%;
        font-weight: 900;
        font-style: italic;
        margin-left: 0;
        font-size: 1.5rem;
    }

    .containerfechasb {
        display: flex;
        flex-wrap: wrap;
    }

    .containerfechasb .caja h2 {
        width: 90%;
    }

    #paddi {
        margin-bottom: 0rem;
    }



    .profilecontainer {
        flex-direction: column;
    }

    .formprofile1 {
        margin: 0;
        margin-left: 8rem;
        width: 80%;
    }

    .formprofile2 {
        max-width: max-content;
        margin-left: 5rem;
    }

    .formprofile1 h1 {
        font-size: 5rem;
        width: 20rem;
    }

    .formprofile2 h1 {
        font-size: 3.5rem;
        width: max-content;
    }

    #deletemem {
        display: none;
    }

    .form1 h2,
    .form1 p,
    .form2 h2,
    .form2 p {
        width: 19rem;
        margin-left: 1rem;
        padding-left: 1rem;
    }

    .form1 h2 {
        font-size: 1.3rem;
        width: 80%;
    }

    .form1 {
        width: 80%;

    }

    #datos {
        margin-left: 1rem;
        width: min-content;
    }

    .form2 {
        padding-bottom: 5rem;
    }

    .form1 {
        margin-bottom: 2rem;
    }

    .caja h2 {
        width: 85%;
    }

    #datosmem {
        margin-left: 5rem;
        width: 60%;
    }

    .caja p {
        margin-left: 0;
    }

    .form2 {
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 0;
        width: 100%;
    }

    #descargar {
        font-size: 2rem;
        padding: 1rem;

    }

    #cuotas {
        width: 85%;
    }

    #quinquenio {
        font-size: 1.5rem;
        padding: 1rem;
        margin-left: 1rem;
        width: 87%;

    }

    #bonificacionh1 {
        width: 80%;
        margin-left: 3rem;
        font-size: 2rem;
        padding: 1rem 0 1rem 1rem;

    }

    #madruacion {
        width: 85%;
    }

    #btn-adicional {
        margin-left: 0rem;
        margin-bottom: 10rem;
        margin-top: 3rem;
    }

    .containerfechas {
        display: flex;
        flex-direction: column;
    }


    .containerfechas .caja h2 {
        width: 80%;
        margin-left: 0;
        overflow-y: scroll;
    }

    #estadocuota {
        margin-left: 3rem;
        margin-top: 2rem;
        width: 80%;
    }

    #perfilh11 {
        color: rgb(153, 153, 153);
        font-style: normal;
        font-weight: 900;
        margin-left: 1.5rem;
    }

    .alerta {
        margin-left: 2rem;
    }

    .containerperfil2 {
        width: 100%;
    }

    .formprofile2 {
        width: 75%;
    }

    #cajafecha {
        width: 75%;
    }

    #botonadquirirmodal {
        width: max-content;
        font-size: 2rem;

    }
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {

    #cajafecha {
        width: 90%;
    }


    .containerperfil2 {
        width: 100%;
    }

    .formprofile2 {
        width: 75%;
    }

    .texxt p {
        max-width: 30rem;
    }

    .texxt {
        margin-left: 7rem;
    }

    #full h2 {
        width: 87%;
    }

    .leyenda {
        bottom: 70rem;
    }

    .form2b {
        background-color: rgb(52, 52, 52);
        padding: 1rem;
        border-radius: 1rem;
        margin-left: .5rem;
        display: flex;
        flex-wrap: wrap;
        max-width: 83%;
        font-family: 'Lato', sans-serif;
    }

    .form2b h1 {
        background: none;
        color: white;
        font-size: 2rem;
        font-style: normal;
        text-align: center;
        width: 100%;
    }

    .form2b #datosmemb {
        font-size: 2.5rem;
        margin-left: 0;
        width: 100%;
    }

    .form2b .caja {
        flex: 1;
        width: 100%;
        margin-right: 2rem;
    }

    .form2b .caja p {
        font-size: 1.2rem;
        width: max-content;
        margin-bottom: .6rem;
    }

    .form2b .caja h2 {
        font-size: 1.6rem;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        border-radius: 1rem;
        color: rgb(95, 95, 95);
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form2b h2 {
        width: 100%;
    }

    .form2b #pending {
        font-size: 1.5rem;
        width: max-content;
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        padding: 1rem;
        font-weight: 900;
        border-radius: 1rem;
        text-align: center;
        margin-top: 3.2rem;
    }

    #quinqueniob {
        font-size: 1.7rem;
        width: max-content;
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        padding: .5rem;
        margin-left: 2rem;
        font-weight: 900;
        margin-top: 2rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    #wallet {
        width: 90%;
        overflow-y: auto;
        margin-left: 0rem;
    }

    #bonificacionh1b {
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        border-radius: 1rem;
        padding: .5rem 0 .5rem 0;
        height: fit-content;
        width: 100%;
        font-weight: 900;
        font-style: italic;
        margin-left: 0;
        font-size: 1.5rem;
    }

    .containerfechasb {
        display: flex;
        flex-wrap: wrap;
    }

    .containerfechasb .caja h2 {
        width: 90%;
    }

    #paddi {
        margin-bottom: 0rem;
    }

    .profilecontainer {
        flex-direction: column;
    }

    .formprofile1 {
        margin: 0;
        margin-left: 12rem;
        width: 80%;
    }

    .formprofile2 {
        max-width: 800px;
        margin-left: 12rem;
        margin-bottom: 20rem;
    }

    .formprofile1 h1 {
        font-size: 5rem;
        width: 20rem;
    }

    .formprofile2 h1 {
        font-size: 3.5rem;
        width: max-content;
    }

    #deletemem {
        display: none;
    }

    .form1 h2,
    .form1 p,
    .form2 h2,
    .form2 p {
        width: 19rem;
        margin-left: 1rem;
        padding-left: 1rem;
    }

    .form1 h2 {
        font-size: 1.8rem;
        width: 90%;
    }

    .form1 {
        width: 80%;

    }

    #datos {
        margin-left: 1rem;
        width: min-content;
    }

    .form2 {
        padding-bottom: 5rem;
    }

    .form1 {
        margin-bottom: 2rem;
    }

    .caja h2 {
        width: 85%;
    }

    #datosmem {
        margin-left: 5rem;
        width: 60%;
    }

    .caja p {
        margin-left: 0;
    }

    .form2 {
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 0;
        width: 80%;
    }

    #descargar {
        font-size: 2rem;
        padding: 1rem;

    }





    #quinquenio {
        font-size: 1.5rem;
        padding: 1rem;
        margin-left: 1rem;
        width: 87%;

    }

    #bonificacionh1 {
        width: 80%;
        margin-left: 3rem;
        font-size: 2rem;
        padding: 1rem 0 1rem 1rem;

    }

    #madruacion {
        width: 85%;
    }

    #btn-adicional {
        margin-bottom: 10rem;
        margin-top: 3rem;
    }

    .containerfechas {
        display: flex;
        flex-direction: column;
    }

    .containerfechas .caja h2 {
        margin-left: 0;
    }

    #estadocuota {
        margin-left: 5rem;
        margin-top: 2rem;
        width: 70%;
    }

    #perfilh11 {
        color: rgb(153, 153, 153);
        font-style: normal;
        font-weight: 900;
        margin-left: 1.5rem;
    }

    .alerta {
        margin-left: 2rem;
    }

    .alert1 {
        width: 30rem;
        margin-bottom: 40rem;
    }

    #full {
        width: 95%;
    }

}





@media only screen and (min-width: 1200px) and (max-width: 1599px) {

    #botonadquirirmodal {
        margin-top: 2rem;
    }

    .texxt p {
        max-width: 30rem;
    }

    .leyenda {
        bottom: 60rem;
    }

    .form2b {
        background-color: rgb(52, 52, 52);
        padding: 1rem;
        border-radius: 1rem;
        margin-left: .5rem;
        display: flex;
        flex-wrap: wrap;
        max-width: 83%;
        font-family: 'Lato', sans-serif;
    }

    .form2b h1 {
        background: none;
        color: white;
        font-size: 2rem;
        font-style: normal;
        text-align: center;
        width: 100%;
    }

    .form2b #datosmemb {
        font-size: 2.5rem;
        margin-left: 0;
        width: 100%;
    }

    .form2b .caja {
        flex: 1;
        width: 100%;
        margin-right: 4rem;
    }

    .form2b .caja p {
        font-size: 1.2rem;
        width: max-content;
        margin-bottom: .6rem;
    }

    .form2b .caja h2 {
        font-size: 1.6rem;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        border-radius: 1rem;
        color: rgb(95, 95, 95);
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form2b h2 {
        width: 100%;
    }

    .form2b #pending {
        font-size: 1.5rem;
        width: 100%;
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        padding: 1rem;
        font-weight: 900;
        border-radius: 1rem;
        text-align: center;
        margin-top: 3.2rem;
    }

    #quinqueniob {
        font-size: 1.7rem;
        width: max-content;
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        padding: .5rem;
        margin-left: 2rem;
        font-weight: 900;
        margin-top: 3.5rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    #wallet {
        width: 94%;
        overflow-y: scroll;
        margin-left: 0rem;
    }

    #bonificacionh1b {
        background-color: gainsboro;
        color: rgb(95, 95, 95);
        border-radius: 1rem;
        padding: .5rem 0 .5rem 0;
        height: fit-content;
        width: 100%;
        font-weight: 900;
        font-style: italic;
        margin-left: 0;
        font-size: 1.5rem;
    }

    .containerfechasb {
        display: flex;
        flex-wrap: wrap;
    }

    .containerfechasb .caja h2 {
        width: 90%;
    }

    #paddi {
        margin-bottom: 0rem;
    }

    .noMember {
        width: 85%;
    }

    .noMember h2 {
        margin-left: 2rem;
    }

    .formprofile1 {
        margin-left: 3rem;
    }

    .form1 {
        width: 30rem;
    }

    .formprofile2 h1 {
        font-size: 5rem;
    }

    .formprofile1 h1 {
        font-size: 5rem;
    }

    .alerta {
        margin-left: 6rem;
    }

    .alert1 {
        width: 100%;
    }

    .formprofile1 {
        margin-right: 3.5rem;
    }

    #descargar {
        margin-top: 3rem;
    }

    #datosmem {
        margin-left: 2.3rem;
    }
}

@media (min-width: 1599px) and (max-width: 1800px) {
    .texxt p {
        max-width: 30rem;
    }

    .alerta {
        margin-left: 1rem;
    }

    .formprofile1 {
        margin-left: 3rem;
    }

    #btn-adicional {
        margin-left: 0;
    }

    #estadocuota {
        margin-left: 10rem;
    }


}