/* GENERAL */

.containers-data {
    display: flex;
    justify-content: space-around;
}

.mis-membresias {
    display: none;
}

.member-simple {
    display: none;
}

/* 
PROFILE
*/


.background-profile {
    margin-top: 3rem;
    background-color: rgba(0, 105, 108, 0.516);
    height: 30vh;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato';
    position: relative;
    bottom: 10rem;
}

.profile-box {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
    padding-bottom: 3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: min-content;
    padding: 2rem;
}

.profile-box label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-box h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0rem;
}

.profile-box p {
    margin-bottom: 0rem;
    font-size: 1.2rem;
    font-style: italic;
}

.img-profile {
    border-radius: 1rem;
    overflow: hidden;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-profile img {
    width: 70%;
    border-radius: 1rem;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}



/* 
MEMBRESIA
 */

.membresia-data-container {
    font-family: 'lato';
    display: grid;
    padding: 2rem;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    position: relative;
    background-color: white;
    bottom: 5rem;
    gap: 1rem;
}



.membresia-data-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 100%;
}

.membresia-data-container h4{
    overflow-wrap: break-word;
    max-width: 80%;
    
}

#walletprof{
    grid-column: span 3;
    text-align: center;
    padding-left: 3rem;
}


#add-member {
    color: blue;
    cursor: pointer;
    grid-column: span 5;

}


.membresia-container {
    font-family: 'lato';
    border: 2px red solid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content;
    gap: 2rem;
    height: fit-content;
    padding: 2rem;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    position: relative;
    background-color: white;
    bottom: 5rem;
}



#info {
    grid-column: span 4;
    text-align: center;
    background-color: rgb(156, 156, 156);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
}



#estado {
    color: rgb(0, 192, 0);
    font-weight: 700;
}



.box-grid {
    max-width: 25rem;
}


#info {
    grid-column: span 4;
    text-align: center;
    background-color: rgb(156, 156, 156);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    width: 100%;
}





.close {
    color: rgb(0, 0, 0);
    grid-column: span 4;
    font-weight: 700;
    color: blue;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px solid blue;
    width: min-content;
    padding: 0.3rem 1rem;
}

#box-img {
    cursor: pointer;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

#box-img:hover {
    transform: scale(1.2);
}


#title-table h3 {
    margin-bottom: 0;
    text-decoration: underline;
    font-style: italic;
}

#pagar-btn h3 {
    text-align: center;
    background-color: rgb(0, 195, 0);
    color: white;
    font-weight: 900;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.empty {
    text-align: center;
    font-family: 'lato';
    font-weight: 700;
}

#no-contract {
    background-color: rgb(255, 80, 80);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

#contract {
    background-color: rgb(0, 150, 25);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media(max-width: 768px) {

    .close{
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .membresia-data-container{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .membresia-data-container .box-grid{
        text-align: left;
    }

   
    .membresia-container {
        display: none;
    }

    .background-profile {
        height: 10rem;
    }

    .profile-container {
        position: static;
        margin-bottom: 2rem;
    }

    .profile-box h2 {
        font-size: 1rem;
    }

    .profile-box p {
        font-size: 1rem;
        margin-top: 0.8rem;
    }

    .img-profile img {
        width: 50%;
        border-radius: 1rem;
    }

    .containers-data {
        flex-direction: column;
    }

    .profile-box {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        border-radius: 0;

    }

    .mis-membresias {
        font-family: 'lato';
        font-size: 1.3rem;
        background-color: rgb(0, 119, 142);
        color: white;
        display: flex;
        margin: 0 auto;
        padding: 0 1rem;
        border-radius: 0.5rem;
        margin-bottom: 3rem;
    }




    .close {
        font-size: 1.3rem;
    }

    .member-simple {
        display: block;
    }

    .box-flex label {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
        font-family: 'lato';
        text-align: center;
        align-items: center;
        background-color: rgb(201, 201, 201);
        margin-bottom: 1rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
    }

    .box-grid label{
        min-width: 100%;
        justify-content: left;
    }


    .box-flex img {
        max-width: 2rem;
        max-height: 2rem;
    }

    .member-simple h1 {
        text-align: center;
        font-family: 'lato';
        background-color: rgb(0, 108, 108);
        padding: 1rem;
        color: white;
        font-size: 1.5rem;
    }

    #walletprof{
        padding: 0;
    }

}