img {
    max-width: 100%;
}

.contentp4 {
    margin-top: 3rem;
    border-radius: 1rem;
    background-image: url('../assets/fondoblanco.webp');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: flex;
}

.passcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.passcontainer img{
    width:2rem;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.errorRegister{
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 81, 0);
    border-radius: 1rem;
    padding: 1px;
    margin-top: 1rem;
}

.imageblog img {
    width: 50rem;
}



.imageblog {
    margin-left: 5rem;
}

.formp4 {
    margin-left: 10rem;
    margin-top: 2rem;
    background-color: rgb(54, 54, 54);
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    height: max-content;
    border-radius: 2rem;
}

.formp4 form {
    display: flex;
    flex-direction: column;
}

.formp4 input {
    font-size: 1.3rem;
    border-radius: .9rem;
    width: 24rem;
    padding-left: 2rem;
    height: 1rem;
    margin-bottom: 1rem;
    font-family: 'Monserrat', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.formp4 h1 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
    text-align: center;
}

#afiliarsebutton {
    cursor: pointer;

    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-align: center;
    background: linear-gradient(to right, rgb(26, 191, 219), rgb(2, 80, 116));
    border-radius: .6rem;
    border-style: none;
}

.option {
    background-color: white;
    border-radius: 1rem;
    text-align: center;
}

.option p {
    font-family: 'Monserrat', sans-serif;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.option button {
    margin-right: 1rem;
    font-family: 'Monserrat', sans-serif;
    font-size: 1rem;
    border-style: none;
    border-radius: .5rem;
    width: 10rem;
    height: 2rem;
}

#phoneinput{
    font-size: 2rem;
}



@media only screen and (max-width: 767px) {
    .imageblog {
        display: none;
    }

    #afiliarsebutton{
        font-size: 3rem;
        margin-bottom: 1rem;
    }


    .formp4 {
        border-radius: 0%;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 10rem;
    }
    .formp4 button{
        margin-bottom: 5rem;


    }
    .buttonslogin button{
        margin-bottom: 0;
    }

    .formp4 input {
        font-size: 1.3rem;
        border-radius: .9rem;
        width: 20rem;
        padding-left: 2rem;
        height: 4rem;
        margin-bottom: 1.5rem;
        font-family: 'Monserrat', sans-serif;
        padding-top: 0;
        padding-bottom: 0;
    }

    .formp4 input::placeholder {
        font-size: 1.3rem;
    }
}

@media (width: 430px){
    .formp4{
        border-radius: 1rem;
        margin-left: 1.4rem;
    }    

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .formp4 {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-left: 5rem;
    }

    .imageblog {
        display: none;
    }

    .formp4 input {
        font-size: 1rem;
        border-radius: .9rem;
        width: 30rem;
        padding-left: 2rem;
        height: 8rem;
        margin-bottom: 1rem;
        font-family: 'Monserrat', sans-serif;
    }

    .option button {
        height: 5rem;
    }

    .option p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contentp4{
        height: 100rem;
        margin-bottom: 10rem;
        background-image: none;
    }
    
    .formp4 {
        margin-left: 12.5rem;
    }

    .imageblog {
        display: none;
    }

    .formp4 input {
        font-size: 1rem;
        border-radius: .9rem;
        width: 30rem;
        padding-left: 2rem;
        padding-top: 0;
        padding-bottom: 0;
        height: 5rem;
        margin-bottom: 3rem;
        font-family: 'Monserrat', sans-serif;
    }

    .formp4 input::placeholder{
        font-size: 1.3rem;
    }

    .option button {
        height: 5rem;
    }

    .option p {
        font-size: 1.5rem;
    }   
}

@media only screen and (min-width: 1200px) and (max-width: 1700px) {
    .formp4{
        margin-left: 2rem;
        margin-right: 5rem;
        margin-top: 2rem;
    }
    .imageblog {
        width: 90rem;
        margin-top: 5.4rem;
    }
  }