.verificacioncontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-family: 'lato';
}

.formverif {
    max-width: 50%;

}



.textverif h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

.textverif h2 {
    max-width: 70%;
    color: gray;
    margin: 0;
}

.formverif h1 {
    font-weight: 900;
    color: rgb(79, 79, 248);
}

.formverif form {
    margin-right: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 0.5rem;
    background-color: rgb(242, 242, 242);
    padding: 2rem;
}

.textverif {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.slot p {
    color: rgb(111, 111, 111);
}

.slot input,
.slot select {
    padding: 0.5rem;
    font-family: 'lato';
    font-size: 1.3rem;
    outline: none;
    margin-top: 0;
    border-radius: 10px;
    border: solid 2px rgb(173, 173, 173);
    background-color: rgba(255, 255, 255, 0.597);
    color: rgb(112, 112, 112);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: .5s ease;
    width: 80%;
}

.slot input:focus {
    border-color: rgb(97, 97, 246);
}

.slot button {
    font-size: 1.3rem;
    width: 100%;
    margin-top: 3rem;
    background-color: rgb(69, 69, 248);
    border-radius: 0.5rem;
    color: white;
    padding: 1rem 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.slot button:hover {
    transform: scale(1.1) translateZ(4px);
}

.slot label {
    display: flex;
    gap: 1rem;
    max-width: 70%;
}

.slot label input {
    width: 3rem;
    height: auto;
    box-shadow: none;
}

.textverif-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selectImage{
    color: rgb(0, 159, 0);
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 700;

}

.error{
    color: red;
    font-size: 1.2rem;
    font-weight: 700;
}

@media (max-width: 768px){
    .verificacioncontainer{
        flex-direction: column;
        justify-content: center;
    }
    .textverif, .formverif, .formverif form{
        min-width: 90%;
        margin: 0;
    }
    .formverif button{
        max-width: 100%;
        text-align: center;
    }
    .formverif h1{
        display: none;
    }

    .formverif form{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
    .textverif{
        max-width: 70%;
        display: block;
    }
}